body {
  background-color: #f7f7f8;
}

.main {
  margin: 12px 11px 9px;
  padding: 15px 11px 14px;
  height: 85px;
  background-color: #ffffff;
  border-radius: 5px;
}

.user_msg {
  display: flex;
  align-items: center;
}

.location {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 50%;
}

.more {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: #808080;
}

.user {
  flex: 1;
}

.user .top {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  color: #262626;
}

.user .top p {
  margin-left: 10px;
  font-size: 13px;
}

.user .bottom {
  font-size: 12px;
  margin-top: 5px;
}
